/*********************Bibliothèques********************/
@import "libs/mixins.scss";
@import "libs/fonctions.scss";
@mixin logo-images {
  width: 35%;
  object-fit: cover;
  padding: 20px 0 22px 0;
}
@mixin logo-mixin {
  display: flex;
  background-color: white;
}

/******************Polices d'écriture*******************/
@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Shrikhand & display=swap');


/**********************Variables************************/
$color-primary: hsl(210, 4%, 93%); 
$color-second: #d4d5d6;  
$color-icon-g: gray; 
$color-icon: blueviolet; 
$color-button: hsla(294, 79%, 57%, .9); 
$color-darkgrey: #c9cbcd;  
$color-heart: #FF79DA;  
$color-float: forestgreen;  
$color-cyan: #99E2D0;
$light-shadow: 5px 5px 5px #E6E7E9;
$dark-shadow: 15px 15px 20px #CCCDD0;
$light-shadow-violet: 5px 5px 5px #B5B6B9;
$dark-shadow-violet: 5px 5px 5px #A6A6A9;
$size-heart: 60px;
$police-primary:'Shrikhand', cursif; 
$police-second:'Roboto', sans-serif; 

body {
  margin: 0;
  background-color: $color-primary;
}

/*Principal couleur*/
.bckg-color { 
  background-color: $color-primary;
}

/****************************\
      transition: coeur
\****************************/
/*div des 2 icônes coeur de la page d'accueil*/
.heart {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 30px;
  padding-right: 70px;
  padding-left: 70px;
  cursor: pointer;
  /*Icône de coeur remplit*/
  .fas.fa-heart {
    display: flex;
    justify-content: flex-end;
    position: relative;
    color: white;
    font-size: 50px;
    top: 4px;
    right: 5px;
    bottom: 0;
  }
  /*Icône de coeur vide*/
  .far.fa-heart {
    position: absolute;
    font-size: $size-heart;
    color: black;
    display: flex;
    justify-content: flex-end;
  }
}

/*div des icônes coeur des pages menus*/
.menu-heart {
  display: flex;
  justify-content: flex-end;
  padding-top: 60px;
  padding-right: 60px;
  padding-left: 60px;
  cursor: pointer;
  /*Icône de coeur vide*/
  .far.fa-heart {
  position: absolute;
  font-size: $size-heart;
  color: black;
  display: flex;
  justify-content: flex-end;
  }
  /*Icône de coeur remplit*/
  .fas.fa-heart {
    position: relative;
    color: $color-primary;
    font-size: 50px;
    top: 4px;
    right: 5px;
    bottom: 0;
  }
}

/*Transition de l'icône coeur au survol ou au clic de la souris*/
.heart {
  &:hover {
    & > .fas.fa-heart {
      animation: heart-fill .7s linear;
      animation-fill-mode: forwards;
    }
  }
  &:active {
    & > .fas.fa-heart {
      color: #FF79DA;  
    }
  }
}

.menu-heart {
  &:hover {
    & > .fas.fa-heart {
      animation: heart-fill .7s linear;
      animation-fill-mode: forwards;
    }
  }
  &:active {
    & > .fas.fa-heart {
      color: #FF79DA;  
    }
  }
}

@keyframes heart-fill {
  0% {
      transform: scale(0);
      color: #FF79DA;
      opacity: .4;
  }
  55% {
      transform: scale(55%);
      color: #FF79DA;
      opacity: .7;
  }
  100% {
      transform: scale(100%);
      color: #FF79DA;
      opacity: 1;
  }
}

/*********************************************/


/**************************************************************Accueil********************************************************/

/********
Le header
********/

/*****************************************\
      transition: loading spinner
\*****************************************/

.loading-spinner {
  animation: hide 4s linear;
  animation-fill-mode: forwards;
  .loader {
    margin: auto;
    position: relative; 
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
  }
  .circle {
    border-radius: 50%;
    border: 15px solid #fff;
    width: 100px;
    height: 100px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }
  .circle:after {
    content:'';
    position: absolute;
    width: 100px;
    height: 100px;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 15px solid transparent;
    border-radius: 50%;
    border-top-color: #9356DC;
    opacity: 0.6;
    animation: spin 1s linear 0s infinite;
  }
  .circle:before {
    content:'';
    position: absolute;
    width: 70px;
    height: 70px;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 8px solid transparent;
    border-radius: 50%;
    border-top-color: #ff9ff3;
    opacity: 0.6;
    animation: spin .6s linear 0s infinite;
  }
}
@keyframes hide {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  } 
}
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(-360deg);
  }
}

.page {
  color: black;
  animation: visible 6s linear -.6s;
  opacity: 1;
  animation-fill-mode: forwards;
}
@keyframes visible {
  0% {
      opacity: 0;
      overflow: hidden;
  }
  50% {
      opacity: 0;
      overflow: hidden;
  }
  75% {
      opacity: 0;
      overflow: hidden;
  }
  90% {
      opacity: .8;
      overflow: visible;
  }
  100% {
      opacity: 1;
      overflow: visible;
  } 
}

/********************************************/

/****Le logo****/

/*La balise qui englobe l'image du logo*/
.logo-acc {
  @include logo-mixin;
  margin: 0;
  justify-content: center;
  /*L'image du logo*/
  .image-omf {
    @include logo-images;
  }
}

/****Le formulaire****/

/*Le div du formulaire*/
.form-maps {
  width: 100%;
  cursor: pointer;
  .bar-grey {
    background-color: #c9cbcd;
    height: 5px;
    width: 100%;
  }
  /*Formulaire*/
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    /*icône maps*/
    .fa-map-marker-alt {
      background-color: $color-second;
      border: none 2px $color-second;
      padding: 32px 14px 32px 14px;
      font-size: 25px;
    }
    /*Le texte du formulaire*/
    .country {
      border: none;
      background-color: $color-second;
      width: 100%;
      padding: 30px 14px 30px 14px;
      font-family: $police-second;
      font-size: 25px;
      font-weight: bold;
      color: black;
    }
  }
}

/****Le titre et le texte****/

/*Le h2 et p du header*/
.header-txt {
  text-align: center;
  /*Le h2 du header*/
  h2 {
    font-weight: bold;
    font-family: $police-second;
    font-size: 43px;
    padding-left: 100px;
    padding-right: 100px;
  }
  p {
    font-family: $police-second;
    font-size: 35px;
    font-weight: normal;
  }
}

/****Le bouton****/

/*Le 1er bouton du header*/
.button-header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 80px;
  span {
    font-family: $police-second;
    font-size: 33px;
    font-weight: bold;
  }
  /*Le bouton à l'intérieur de la class button-header*/
  button {
    padding: 35px 45px 35px 45px;
    border-radius: 50px;
    background-color: $color-button;
    color: white;
    cursor: pointer;
    font-family: $police-second;
    box-shadow: $dark-shadow-violet;
    border: $color-button 2px none;
    font-weight: bold;
    opacity: 0.7;
    &:hover {
      background-color: hsla(294, 79%, 57%, .7);
      box-shadow: $light-shadow-violet;
    }
  }
}

/********
Le contenu : les grands blocs
********/

/****La section Fonctionnement****/

/*Couleur de fond de la section Fonctionnement*/
.color-functioning {
  background-color: white;
  /*Titre de la section Fonctionnement*/
  .functioning-title {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 80px;
    padding-bottom: 60px;
    font-size: 40px;
    font-family: $police-second;
    font-weight: bold;
    margin: 0;
  }
}

/*La div des 3 boutons de la section Fonctionnement*/
.functioning {
  display: flex;
  /*justify-content: center;*/
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 630px;
  /*Le boutons de la section Fonctionnement x3*/
  button {
    margin: 0 35px 40px 35px;
    border-radius: 45px;
    padding: 50px 30px 50px 30px;
    box-shadow: 5px 5px 15px #cdcdcf;
    border: $color-primary none 2px;
    cursor: pointer;
    span {
      font-weight: bold;
      font-size: 33px;
    }
    strong {
      background-color: blueviolet;
      color: white;
      border: blueviolet 1px none;
      border-radius: 50%;
      padding: 17px;
      font-size: 27px;
      width: 15px; /*peut-être à supprimer*/
      height: 15px;
      margin: 0;
      display: flex;
      align-items: center;
      position: absolute;
      transform: translate(-150%, -18%);
      font-weight: normal;
    }
    /*icône d'un téléphone*/
    .fa-mobile-alt {
      padding-right: 40px;
      padding-left: 40px;
      font-size: 40px;
      color: gray;
    }
    /*icône d'une liste*/
    .fa-list-ul {
      padding-right: 40px;
      padding-left: 40px;
      font-size: 40px;
      color: gray;
    }
    /*icône d'une boutique*/
    .fa-store {
      padding-right: 40px;
      padding-left: 40px;
      font-size: 40px;
      color: blueviolet;
    }
    &:hover {
      background-color: hsla(210, 4%, 93%, .6);
      box-shadow: $light-shadow;
    }
  }
}

.align-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/****La section Restaurants****/

.restaurant {
  background-color: $color-primary;
  /*Le titre de la section Restaurant*/
  .restaurant-title {
    font-weight: bold;
    padding: 60px 35px 10px 35px;
    font-size: 40px;
    font-family: $police-second;
    margin: 0;
  }
  .links-restaurant { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 30px; /*à reprendre sur le responsive*/
    padding-right: 30px;  /*à reprendre sur le responsive*/
    a.bloc-restaurant {
      position: relative;
      text-decoration: none;
    }
  }
}

/*Une div : l'image, le h3, le texte, le flottant et les logo x4*/
.bloc-restaurant {
  margin: 25px 0 35px 0;
  box-shadow: $dark-shadow;
  cursor: pointer;
  width: 100%;
  border-radius: 25px;
  border: white 2px none;
  background-color: white;
  object-fit: cover;
  .float-new {
    position: absolute;
    top: 25px;
    right: 25px;
    border: #99E2D0 2px none;
    background-color: #99E2D0;
    color: forestgreen;
    padding: 17px 30px 17px 30px;
    font-weight: bold;
    font-size: 40px;
    border-radius: 5px;
    font-family: $police-second;
  }
  /*L'image de la div x4*/
  img {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 400px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
  }
  .restaurant-text {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    .txt {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      h3 {
        color: black;
        font-weight: bold;
        font-size: 40px;
        font-family: $police-second;
        padding: 20px 45px 15px 45px;
        margin: 0;
      }
      p {
        color: black;
        font-weight: normal;
        font-size: 40px;
        margin: 0;
        font-family: $police-second;
        padding: 0 45px 35px 45px;
      }
    }
  }
}

/******************************************************** Les menus ***********************************************************/

/********
Le header
********/

.logo {
  @include logo-mixin;
  align-items: center;
  animation: body-menus 3s linear -.8s infinite;
  animation-fill-mode: forwards;
  img .logo-menus {
    @include logo-images;
    margin-right: 0;
    flex-grow: 3;
    display: flex;
    justify-content: center;

  }
  button {
    border: white none 1px;
    background-color: white;
    cursor: pointer;
    a {
      color: black;
      text-decoration: none;
      .fa-arrow-left {
        font-size: 45px;
        display: flex;
        justify-content: flex-start;
      }
    }
  }
}

img.logo-menus {
  padding: 10px 0 22px 0;
  width: 30%;
}

@keyframes body-menus {
  0% {
    background-color: white;
  }
  100% {
    background-color: white;
  }
}

/********
Le contenu : les grands blocs
********/

/*****************************************************\
      transition: apparition des plats différée
\*****************************************************/
/*.delay-entrees {
  animation: bloc-primary .7s ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes bloc-primary {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.delay-meals {
  animation: bloc-second .7s ease-out 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes bloc-second {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.delay-desserts {
  animation: bloc-ters .7s ease-out 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes bloc-ters {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}*/
/*******************************************************/
.img-resto-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  object-fit: cover;
}

.resto {
  border-radius: 70px 70px 0 0;
  background-color: $color-primary;
  position: relative;
  bottom: 135px;
  .menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    h2 {
      font-size: 75px;
      font-weight: bold;
      font-family: $police-primary;
      padding-left: 30px;
      padding-right: 30px;
      margin: 0;
      padding-top: 60px;
    }
  }
}

.resto h3 {
  font-size: 40px;
  font-weight: normal;
  margin: 0 40px 0 40px;
  padding-bottom: 20px;
  border-bottom: 4px #99E2D0 solid;
  font-family: $police-second;
  width: 10%;
  padding-top: 70px;
}

h4 {
  font-size: 37px;
  font-family: $police-second;
  margin: 0;
  padding: 20px 30px 10px 30px;
  display: flex;
  justify-content: flex-start;
}

.card { 
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  .delay-entrees,.delay-meals,.delay-desserts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    button {
      margin: 25px;
      border-radius: 25px;
      box-shadow: $dark-shadow;
      border: none 2px white;
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      p {
        font-family: $police-second;
        font-size: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
        margin: 0;
        display: flex;
        justify-content: flex-start;
      }
    }
  }
}

/******************************************************/

/*******************************\
      transition: coches
/*******************************/

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
  em { 
    font-weight: bold;
    display: flex;
    padding-top: 55px;
    padding-right: 30px;
    padding-left: 50px;
    font-size: 25px;
    font-style: normal;
    opacity: 1;
  }
  &:hover {
    & > .fa-check-circle  {
      animation: validation .7s ease;
      animation-fill-mode: forwards;
    }
  }
}

.fa-check-circle {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 120px;
  color: white;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 25px 25px 0;
  font-size: 60px;
  position:absolute;
  opacity: 0;
}

@keyframes validation {
  0% {
    transform:translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.check {
  &:hover {
    & > em {
      opacity: 0;
    }
  }
}

/*******************************************************/

/****Le bouton commander****/

.order-fr {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  button {
    padding: 22px 68px 27px 68px;
    font-size: 30px;
    border-radius: 50px;
    background-color: $color-button;
    color: white;
    cursor: pointer;
    font-family: $police-second;
    font-weight: bold;
    border: $color-button 2px none;
    box-shadow: $dark-shadow-violet;
    opacity: 0.7;
    &:hover {
      background-color: hsla(294, 79%, 57%, .7);
      box-shadow: $light-shadow-violet;
    }
  }
}

/**************************************** Page menu : note *****************************************/

.img-note {
  max-height: 600px;
}

.img-resto-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  object-fit: cover;
}

/********************************** Le footer sur toutes les pages ********************************/

footer {
  background-color: #313339;
  color: white;
  width: 100%;
  min-height: 235px;
  /*Le nom du site*/
  h1 {
    width: 30%;
    color: white;
    padding: 30px 50px 10px 50px;
    font-family: $police-primary;
    font-style: italic;
    font-size: 40px;
    font-weight: bold;
  }
  /*La liste de la nav du footer*/
  .list-footer {
    list-style: none;
    line-height: 50px;
    margin: 0;
    padding: 0 50px 60px 50px;
    font-size: 30px;
    font-family: $police-second;
    .list-bold {
      font-weight: normal;
      /*icône des couverts*/
      .fa-utensils {
        padding-right: 15px;
        padding-left: 15px;
        font-size: 20px;
      }
      /*icône des mains*/
      .fa-hands-helping {
        padding-right: 9px;
        padding-left: 9px;
        font-size: 20px;
      }
    }
  }
}

.list-footer a {
  text-decoration: none;
  color: white;
}

/**************************************************************************************************
***********************************************************************************************************
**********************************************************************************************************/

@media screen and (min-width: 280px) and (max-width: 400px) { 

  body {
    width: 550px;
  }

  /***************************** Le logo *****************************/
  
  img.logo-menus {
    padding: 10px 0 22px 0;
    width: 30%;
  }

  /*********************** Menu ***********************/

  .resto {
    bottom: 90px;
    .menus {
      h2 {
        font-size: 50px;
      }
    }
  }

  .menu-heart {
    .far.fa-heart {
      font-size: 40px;
    }
    .fas.fa-heart {
      font-size: 30px;
    }
  }

  /************* ENTREES - PLATS - DESSERTS **************/

  .resto h3 {
    font-size: 30px;
  }
  
  h4 {
    font-size: 27px;
    padding: 20px 30px 10px 30px;
    display: flex;
    justify-content: flex-start;
  }
  
  .card { 
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    .delay-entrees,.delay-meals,.delay-desserts {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      button {
        margin: 25px;
        border-radius: 25px;
        box-shadow: $dark-shadow;
        border: none 2px white;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        p {
          font-family: $police-second;
          font-size: 20px;
          padding-bottom: 20px;
          padding-left: 30px;
          padding-right: 30px;
          margin: 0;
          display: flex;
          justify-content: flex-start;
        }
      }
    }
  }
  
}