@charset "UTF-8";
/*********************Bibliothèques********************/
/*@function brightness {
    ()
}*/
/******************Polices d'écriture*******************/
@import url("https://fonts.googleapis.com/css2? family= Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300 & display=swap");
@import url("https://fonts.googleapis.com/css2? family= Shrikhand & display=swap");
/**********************Variables************************/
body {
  margin: 0;
  background-color: #ecedee;
}

/*Principal couleur*/
.bckg-color {
  background-color: #ecedee;
}

/****************************\
      transition: coeur
\****************************/
/*div des 2 icônes coeur de la page d'accueil*/
.heart {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
  /*Icône de coeur remplit*/
  /*Icône de coeur vide*/
}
.heart .fas.fa-heart {
  display: flex;
  justify-content: flex-end;
  position: relative;
  color: white;
  font-size: 12px;
  top: 4px;
  right: 3px;
  bottom: 0;
}
.heart .far.fa-heart {
  position: absolute;
  font-size: 21px;
  color: black;
  display: flex;
  justify-content: flex-end;
}

/*div des icônes coeur des pages menus*/
.menu-heart {
  display: flex;
  justify-content: flex-end;
  padding-top: 60px;
  padding-right: 60px;
  padding-left: 60px;
  cursor: pointer;
  /*Icône de coeur vide*/
  /*Icône de coeur remplit*/
}
.menu-heart .far.fa-heart {
  position: absolute;
  font-size: 40px;
  color: black;
  display: flex;
  justify-content: flex-end;
}
.menu-heart .fas.fa-heart {
  position: relative;
  color: #ecedee;
  font-size: 50px;
  top: 4px;
  right: 5px;
  bottom: 0;
}

/*Transition de l'icône coeur au survol ou au clic de la souris*/
.heart:hover > .fas.fa-heart {
  -webkit-animation: heart-fill 0.7s linear;
          animation: heart-fill 0.7s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.heart:active > .fas.fa-heart {
  color: rgba(215, 59, 232, 0.9);
}

.menu-heart:hover > .fas.fa-heart {
  -webkit-animation: heart-fill 0.7s linear;
          animation: heart-fill 0.7s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.menu-heart:active > .fas.fa-heart {
  color: rgba(215, 59, 232, 0.9);
}

@-webkit-keyframes heart-fill {
  0% {
    transform: scale(0);
    color: rgba(215, 59, 232, 0.9);
    opacity: 0.4;
  }
  55% {
    transform: scale(55%);
    color: rgba(215, 59, 232, 0.9);
    opacity: 0.7;
  }
  100% {
    transform: scale(100%);
    color: rgba(215, 59, 232, 0.9);
    opacity: 1;
  }
}

@keyframes heart-fill {
  0% {
    transform: scale(0);
    color: rgba(215, 59, 232, 0.9);
    opacity: 0.4;
  }
  55% {
    transform: scale(55%);
    color: rgba(215, 59, 232, 0.9);
    opacity: 0.7;
  }
  100% {
    transform: scale(100%);
    color: rgba(215, 59, 232, 0.9);
    opacity: 1;
  }
}
/*********************************************/
/**************************************************************Accueil********************************************************/
/********
Le header
********/
/*****************************************\
      transition: loading spinner
\*****************************************/
/*.loading-spinner {
  animation: hide 4s linear;
  animation-fill-mode: forwards;
  .loader {
    margin: auto;
    position: relative; 
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
  }
  .circle {
    border-radius: 50%;
    border: 15px solid #fff;
    width: 100px;
    height: 100px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }
  .circle:after {
    content:'';
    position: absolute;
    width: 100px;
    height: 100px;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 15px solid transparent;
    border-radius: 50%;
    border-top-color: #9356DC;
    opacity: 0.6;
    animation: spin 1s linear 0s infinite;
  }
  .circle:before {
    content:'';
    position: absolute;
    width: 70px;
    height: 70px;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 8px solid transparent;
    border-radius: 50%;
    border-top-color: #ff9ff3;
    opacity: 0.6;
    animation: spin .6s linear 0s infinite;
  }
}
@keyframes hide {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  } 
}
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes spin-reverse {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(-360deg);
  }
}

.page {
  color: black;
  animation: visible 6s linear -.6s;
  opacity: 1;
  animation-fill-mode: forwards;
}
@keyframes visible {
  0% {
      opacity: 0;
      overflow: hidden;
  }
  50% {
      opacity: 0;
      overflow: hidden;
  }
  75% {
      opacity: 0;
      overflow: hidden;
  }
  90% {
      opacity: .8;
      overflow: visible;
  }
  100% {
      opacity: 1;
      overflow: visible;
  } 
}*/
/********************************************/
/*** 598px*****/
/****Le logo****/
/*La balise qui englobe l'image du logo*/
.logo-acc {
  display: flex;
  background-color: white;
  margin: 0;
  justify-content: center;
  /*L'image du logo*/
}
.logo-acc .image-omf {
  /*@include logo-images;*/
  width: 41%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 8px 0 9px 0;
}

/****Le formulaire****/
/*Le div du formulaire*/
.form-maps {
  width: 100%;
  cursor: pointer;
  /*Formulaire*/
}
.form-maps .bar-grey {
  background-color: #c9cbcd;
  height: 3px;
  width: 100%;
}
.form-maps form {
  display: flex;
  align-items: center;
  justify-content: center;
  /*icône maps*/
  /*Le texte du formulaire*/
}
.form-maps form .fa-map-marker-alt {
  background-color: #d4d5d6;
  border: none 2px #d4d5d6;
  padding: 12px;
  font-size: 13px;
}
.form-maps form .country {
  border: none;
  background-color: #d4d5d6;
  width: 100%;
  padding: 11px;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: black;
}

/****Le titre et le texte****/
/*Le h2 et p du header*/
.header-txt {
  text-align: center;
  /*Le h2 du header*/
}
.header-txt h2 {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
}
.header-txt p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

/****Le bouton****/
/*Le 1er bouton du header*/
.button-header {
  display: flex;
  justify-content: center;
  padding-bottom: 47px;
  /*Le bouton à l'intérieur de la class button-header*/
}
.button-header span {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: normal;
  /*letter-spacing: .1rem;*/
}
.button-header button {
  padding: 12px 22px 12px 22px;
  border-radius: 50px;
  background-color: rgba(215, 59, 232, 0.9);
  color: white;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  box-shadow: 5px 5px 5px #A6A6A9;
  border: rgba(215, 59, 232, 0.9) 2px none;
  font-weight: bold;
  opacity: 0.7;
}
.button-header button:hover {
  background-color: rgba(215, 59, 232, 0.7);
  box-shadow: 5px 5px 5px #B5B6B9;
}

/********
Le contenu : les grands blocs
********/
/****La section Fonctionnement****/
/*Couleur de fond de la section Fonctionnement*/
.color-functioning {
  background-color: white;
  /*Titre de la section Fonctionnement*/
}
.color-functioning .functioning-title {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 40px;
  padding-bottom: 23px;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 0;
}

/*La div des 3 boutons de la section Fonctionnement*/
.functioning {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 270px;
  /*Le boutons de la section Fonctionnement x3*/
}
.functioning button {
  margin: 0 20px 20px 20px;
  border-radius: 18px;
  padding: 21px 0 21px 0;
  box-shadow: 5px 5px 15px #cdcdcf;
  border: #ecedee none 2px;
  cursor: pointer;
  justify-content: flex-start;
  /*icône d'un téléphone*/
  /*icône d'une liste*/
  /*icône d'une boutique*/
}
.functioning button span {
  font-weight: bold;
  font-size: 13px;
}
.functioning button strong {
  background-color: blueviolet;
  color: white;
  border: blueviolet 1px none;
  border-radius: 50%;
  padding: 2px;
  font-size: 10px;
  width: 15px;
  /*peut-être à supprimer*/
  height: 15px;
  margin: 0;
  display: flex;
  align-items: center;
  position: absolute;
  transform: translate(-49%, -13%);
  font-weight: normal;
  display: flex;
  justify-content: center;
}
.functioning button .fa-mobile-alt {
  padding-right: 20px;
  padding-left: 30px;
  font-size: 15px;
  color: gray;
}
.functioning button .fa-list-ul {
  padding-right: 20px;
  padding-left: 30px;
  font-size: 15px;
  color: gray;
}
.functioning button .fa-store {
  padding-right: 20px;
  padding-left: 30px;
  font-size: 12px;
  color: blueviolet;
}
.functioning button:hover {
  background-color: rgba(236, 237, 238, 0.6);
  box-shadow: 5px 5px 5px #E6E7E9;
}

.align-button {
  display: flex;
  align-items: center;
}

/****La section Restaurants****/
.restaurant {
  background-color: #ecedee;
  /*Le titre de la section Restaurant*/
}
.restaurant .restaurant-title {
  font-weight: bold;
  padding: 45px 20px 15px 20px;
  font-size: 19px;
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.restaurant .links-restaurant {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
}
.restaurant .links-restaurant a.bloc-restaurant {
  position: relative;
  text-decoration: none;
}

/*Une div : l'image, le h3, le texte, le flottant et les logo x4*/
.bloc-restaurant {
  margin: 0 0 14px 0;
  box-shadow: 15px 15px 20px #CCCDD0;
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
  border: white 2px none;
  background-color: white;
  -o-object-fit: cover;
     object-fit: cover;
  /*L'image de la div x4*/
}
.bloc-restaurant .float-new {
  position: absolute;
  top: 10px;
  right: 10px;
  border: #99E2D0 2px none;
  background-color: #99E2D0;
  color: forestgreen;
  padding: 6px 11px 6px 11px;
  font-weight: bold;
  font-size: 10px;
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
}
.bloc-restaurant img {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 140px;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.bloc-restaurant .restaurant-text {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.bloc-restaurant .restaurant-text .txt {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.bloc-restaurant .restaurant-text .txt h3 {
  color: black;
  font-weight: bold;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  padding: 13px 10px 3px 10px;
  margin: 0;
}
.bloc-restaurant .restaurant-text .txt p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding: 0 10px 12px 10px;
}

/******************************************************** Les menus ***********************************************************/
/********
Le header
********/
.logo {
  display: flex;
  background-color: white;
  align-items: center;
  -webkit-animation: body-menus 3s linear -0.8s infinite;
          animation: body-menus 3s linear -0.8s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.logo img .logo-menus {
  width: 35%;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 20px 0 22px 0;
  margin-right: 0;
  flex-grow: 3;
  display: flex;
  justify-content: center;
}
.logo button {
  border: white none 1px;
  background-color: white;
  cursor: pointer;
}
.logo button a {
  color: black;
  text-decoration: none;
}
.logo button a .fa-arrow-left {
  font-size: 45px;
  display: flex;
  justify-content: flex-start;
}

img.logo-menus {
  padding: 10px 0 22px 0;
  width: 30%;
}

@-webkit-keyframes body-menus {
  0% {
    background-color: white;
  }
  100% {
    background-color: white;
  }
}

@keyframes body-menus {
  0% {
    background-color: white;
  }
  100% {
    background-color: white;
  }
}
/********
Le contenu : les grands blocs
********/
/*****************************************************\
      transition: apparition des plats différée
\*****************************************************/
/*.delay-entrees {
  animation: bloc-primary .7s ease-out;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes bloc-primary {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.delay-meals {
  animation: bloc-second .7s ease-out 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes bloc-second {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.delay-desserts {
  animation: bloc-ters .7s ease-out 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes bloc-ters {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}*/
/*******************************************************/
.img-resto-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.resto {
  border-radius: 70px 70px 0 0;
  background-color: #ecedee;
  position: relative;
  bottom: 135px;
}
.resto .menus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.resto .menus h2 {
  font-size: 75px;
  font-weight: bold;
  font-family: "Shrikhand", cursif;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
  padding-top: 60px;
}

.resto h3 {
  font-size: 40px;
  font-weight: normal;
  margin: 0 40px 0 40px;
  padding-bottom: 20px;
  border-bottom: 4px #99E2D0 solid;
  font-family: "Roboto", sans-serif;
  width: 10%;
  padding-top: 70px;
}

h4 {
  font-size: 37px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 20px 30px 10px 30px;
  display: flex;
  justify-content: flex-start;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.card .delay-entrees, .card .delay-meals, .card .delay-desserts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.card .delay-entrees button, .card .delay-meals button, .card .delay-desserts button {
  margin: 25px;
  border-radius: 25px;
  box-shadow: 15px 15px 20px #CCCDD0;
  border: none 2px white;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.card .delay-entrees button p, .card .delay-meals button p, .card .delay-desserts button p {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

/******************************************************/
/*******************************\
      transition: coches
/*******************************/
.check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
}
.check em {
  font-weight: bold;
  display: flex;
  padding-top: 55px;
  padding-right: 30px;
  padding-left: 50px;
  font-size: 25px;
  font-style: normal;
  opacity: 1;
}
.check:hover > .fa-check-circle {
  -webkit-animation: validation 0.7s ease;
          animation: validation 0.7s ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.fa-check-circle {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 120px;
  color: white;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 25px 25px 0;
  font-size: 60px;
  position: absolute;
  opacity: 0;
}

@-webkit-keyframes validation {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes validation {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.check:hover > em {
  opacity: 0;
}

/*******************************************************/
/****Le bouton commander****/
.order-fr {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.order-fr button {
  padding: 22px 68px 27px 68px;
  font-size: 30px;
  border-radius: 50px;
  background-color: rgba(215, 59, 232, 0.9);
  color: white;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border: rgba(215, 59, 232, 0.9) 2px none;
  box-shadow: 5px 5px 5px #A6A6A9;
  opacity: 0.7;
}
.order-fr button:hover {
  background-color: rgba(215, 59, 232, 0.7);
  box-shadow: 5px 5px 5px #B5B6B9;
}

/**************************************** Page menu : note *****************************************/
.img-note {
  max-height: 600px;
}

.img-resto-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  -o-object-fit: cover;
     object-fit: cover;
}

/********************************** Le footer sur toutes les pages ********************************/
footer {
  background-color: #313339;
  color: white;
  width: 100%;
  margin-top: 40px;
  /*Le nom du site*/
  /*La liste de la nav du footer*/
}
footer h1 {
  color: white;
  padding: 15px 20px 12px 20px;
  font-family: "Shrikhand", cursif;
  font-style: italic;
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0;
}
footer .list-footer {
  list-style: none;
  line-height: 22px;
  margin: 0;
  padding: 0 20px 25px 20px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
footer .list-footer .list-bold {
  font-weight: normal;
  /*icône des couverts*/
  /*icône des mains*/
}
footer .list-footer .list-bold .fa-utensils {
  padding-right: 10px;
  font-size: 9px;
}
footer .list-footer .list-bold .fa-hands-helping {
  padding-right: 10px;
  font-size: 8px;
}

.list-footer a {
  text-decoration: none;
  color: white;
}

/**************************************************************************************************
***********************************************************************************************************
**********************************************************************************************************//*# sourceMappingURL=style.css.map */