.fa-heart {
    color: black;
    font-size: 50px;
    animation: filling-color 1s;
    animation-delay: 1s;
    cursor: pointer;
}

@keyframes filling-color {
    from {
        transform: translateY(40%);
        background-color: white;
    }
    to {
        transform: translateY(0);
        background-color: hsla(294, 79%, 57%, .9);
    }
}

button {
    cursor: pointer;
    border: cadetblue 2px none;
    background-color: cadetblue;
    color: white;
    font-size: 20px;
    border-radius: 25px;
}


