@charset "UTF-8";
/*********************Généralités********************/
/*@function brightness {
    ()
}*/
/*background-color, boutons*/
/*formulaire, box-shadow*/
/*icône grise*/
/*icône violette*/
/*bouton fuschia*/
/*gris le plus foncé*/
/*icône coeur*/
/*color float*/
@font-face {
  font-family: "Roboto";
  src: url("roboto/Roboto-Black.ttf") format("ttf");
  src: url("roboto/Roboto-BlackItalic.ttf") format("ttf");
  src: url("roboto/Roboto-Bold.ttf") format("ttf");
  src: url("roboto/Roboto-BoldCondensed.ttf") format("ttf");
  src: url("roboto/Roboto-BoldCondensedItalic.ttf") format("ttf");
  src: url("roboto/Roboto-BoldItalic.ttf") format("ttf");
  src: url("roboto/Roboto-Condensed.ttf") format("ttf");
  src: url("roboto/Roboto-CondensedItalic.ttf") format("ttf");
  src: url("roboto/Roboto-Italic.ttf") format("ttf");
  src: url("roboto/Roboto-Light.ttf") format("ttf");
  src: url("roboto/Roboto-LightItalic.ttf") format("ttf");
  src: url("roboto/Roboto-Medium.ttf") format("ttf");
  src: url("roboto/Roboto-MediumItalic.ttf") format("ttf");
  src: url("roboto/Roboto-Regular.ttf") format("ttf");
  src: url("roboto/Roboto-Thin.ttf") format("ttf");
  src: url("roboto/Roboto-ThinItalic.ttf") format("ttf");
  src: url("roboto/Roboto_Specimen_Book.pdf") format("ttf");
}
@font-face {
  font-family: "Shrikhand";
  src: url("shrikhand/Shrikhand-Regular.otf") format("otf");
  src: url("shrikhand/shrikhand.ttf") format("ttf");
}
body {
  margin: 0;
  background-color: #ecedee;
}

/*Couleur de fond du header : du formulaire au 1er bouton*/
.bckg-color {
  background-color: #ecedee;
}

/****transition****/
.fa-heart {
  color: black;
  font-size: 60px;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.far.fa-heart {
  position: relative;
  opacity: 0;
  transition: all 0.5s;
}

.fas.fa-heart {
  position: absolute;
  display: none;
}

.fas.fa-heart:active {
  display: flex;
  opacity: 1;
  transform: #FF79DA;
}

/****transition****/
/********
Le header
********/
/*******************Accueil*******************/
/****Le logo****/
/*La balise qui englobe l'image du logo*/
.logo-acc {
  display: flex;
  background-color: white;
  margin: 0;
  justify-content: center;
  /*L'image du logo*/
}
.logo-acc .image-omf {
  width: 30%;
  object-fit: cover;
  padding: 10px 0 22px 0;
}

/****Le formulaire****/
/*Le div du formulaire*/
.form-maps {
  width: 100%;
  cursor: pointer;
  /*Formulaire*/
}
.form-maps .bar-grey {
  background-color: #c9cbcd;
  height: 5px;
  width: 100%;
}
.form-maps form {
  display: flex;
  align-items: center;
  justify-content: center;
  /*icône maps*/
  /*Le texte du formulaire*/
}
.form-maps form .fa-map-marker-alt {
  background-color: #d4d5d6;
  border: none 2px #d4d5d6;
  padding: 17px 14px 18px 14px;
  font-size: 18px;
}
.form-maps form .country {
  border: none;
  background-color: #d4d5d6;
  width: 100%;
  padding: 15px 0 15px 0;
  font-family: Roboto, Roboto-Bold, Roboto-Italic, Roboto-Light, Roboto-Medium, "sans-serif";
  font-size: 20px;
  font-weight: bold;
  color: black;
}

/****Le titre et le texte****/
/*Le h2 et p du header*/
.header-txt {
  text-align: center;
  /*Le h2 du header*/
}
.header-txt h2 {
  font-weight: bold;
  font-family: Shrikhand, Shrikhand-Regular, "sans-serif";
  font-size: 36px;
}
.header-txt p {
  font-family: Roboto, Roboto-Bold, Roboto-Italic, Roboto-Light, Roboto-Medium, "sans-serif";
  font-size: 30px;
  font-weight: normal;
}

/****Le bouton****/
/*Le 1er bouton du header*/
.button-header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 80px;
  /*Le bouton à l'intérieur de la class button-header*/
}
.button-header button {
  padding: 23px 40px 26px 40px;
  border-radius: 50px;
  background-color: rgba(215, 59, 232, 0.9);
  color: white;
  cursor: pointer;
  font-family: Roboto, Roboto-Bold, Roboto-Italic, Roboto-Light, Roboto-Medium, "sans-serif";
  box-shadow: 0 5px 10px #d4d5d6;
  border: rgba(215, 59, 232, 0.9) 2px none;
  font-weight: bold;
  opacity: 0.7;
}
.button-header span {
  font-family: Roboto, Roboto-Bold, Roboto-Italic, Roboto-Light, Roboto-Medium, "sans-serif";
  font-size: 25px;
  font-weight: bold;
}

.button-header button:hover {
  background-color: rgba(215, 59, 232, 0.7);
}

/******************A la Française******************/
.logo {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-around;
}
.logo img .logo-menus {
  width: 30%;
  object-fit: cover;
  padding: 10px 0 22px 0;
  margin-right: 0;
  display: flex;
  flex-grow: 3;
}
.logo button {
  border: white none 1px;
  background-color: white;
  cursor: pointer;
}
.logo button a {
  color: black;
  text-decoration: none;
}
.logo button a .fa-arrow-left {
  font-size: 45px;
  display: flex;
}

img.logo-menus {
  padding: 10px 0 22px 0;
}

/********
Le contenu : les grands blocs
********/
/*******************Accueil*******************/
/****La section Fonctionnement****/
/*Couleur de fond de la section Fonctionnement*/
.color-functioning {
  background-color: white;
}

/*Titre de la section Fonctionnement*/
.functioning-title {
  padding-left: 35px;
  padding-top: 60px;
  font-size: 35px;
  font-family: Roboto, Roboto-Bold, Roboto-Italic, Roboto-Light, Roboto-Medium, "sans-serif";
  font-weight: bold;
  margin: 0;
}

/*La div des 3 boutons de la section Fonctionnement*/
.functioning {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
  /*Le boutons de la section Fonctionnement x3*/
}
.functioning button {
  margin: 0 30px 30px 38px;
  border-radius: 20px;
  padding: 25px 30px 20px 0;
  box-shadow: 0 5px 10px #d4d5d6;
  border: #ecedee none 2px;
  cursor: pointer;
  /*icône d'un téléphone*/
  /*icône d'une liste*/
  /*icône d'une boutique*/
}
.functioning button span {
  font-weight: bold;
  font-size: 20px;
}
.functioning button strong {
  background-color: blueviolet;
  color: white;
  border: blueviolet 1px none;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  width: 15px;
  height: 15px;
  margin: 0;
  display: flex;
  align-items: center;
  position: absolute;
  transform: translate(-45%, -18%);
}
.functioning button .fa-mobile-alt {
  padding-right: 25px;
  font-size: 25px;
  color: gray;
}
.functioning button .fa-list-ul {
  padding-right: 30px;
  font-size: 25px;
  color: gray;
}
.functioning button .fa-store {
  padding-right: 30px;
  font-size: 25px;
  color: blueviolet;
}

.functioning button:hover {
  background-color: rgba(236, 237, 238, 0.6);
}

/****La section Restaurants****/
.restaurant {
  background-color: #ecedee;
}

/*Le titre de la section Restaurant*/
.restaurant-title {
  font-weight: bold;
  padding: 60px 0 10px 35px;
  font-size: 35px;
  font-family: Roboto, Roboto-Bold, Roboto-Italic, Roboto-Light, Roboto-Medium, "sans-serif";
  margin: 0;
}

.links-restaurant {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*Une div : l'image, le h3, le texte, le flottant et les logo x4*/
.bloc-restaurant {
  margin: 20px;
  box-shadow: 0 5px 10px #d4d5d6;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
  border: white 2px none;
  background-color: white;
  object-fit: cover;
  /*L'image de la div x4*/
}
.bloc-restaurant .float-new {
  position: absolute;
  top: 25px;
  right: 25px;
  border: #99E2D0 2px none;
  background-color: #99E2D0;
  color: forestgreen;
  padding: 10px 30px 10px 30px;
  font-weight: bold;
  font-size: 40px;
  border-radius: 5px;
  font-family: Roboto, Roboto-Bold, Roboto-Italic, Roboto-Light, Roboto-Medium, "sans-serif";
}
.bloc-restaurant img {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 400px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.bloc-restaurant .restaurant-text {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.bloc-restaurant .restaurant-text .txt {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.bloc-restaurant .restaurant-text .txt h3 {
  color: black;
  font-weight: bold;
  font-size: 40px;
  font-family: Shrikhand, Shrikhand-Regular, "sans-serif";
  padding: 20px 0 15px 45px;
  margin: 0;
}
.bloc-restaurant .restaurant-text .txt p {
  color: black;
  font-weight: normal;
  font-size: 40px;
  margin: 0;
  font-family: Roboto, Roboto-Bold, Roboto-Italic, Roboto-Light, Roboto-Medium, "sans-serif";
  padding: 0 0 35px 45px;
}

a.bloc-restaurant {
  position: relative;
  text-decoration: none;
}

/******************A la Française******************/
.img-fr {
  width: 100%;
  display: flex;
  justify-content: center;
  object-fit: cover;
}

.resto {
  border-radius: 70px 70px 0 0;
  background-color: #ecedee;
  position: relative;
  bottom: 135px;
}
.resto .menus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.resto .menus h2 {
  font-size: 75px;
  font-weight: bold;
  font-family: Shrikhand, Shrikhand-Regular, "sans-serif";
  padding-left: 30px;
  margin: 0;
  padding-top: 60px;
}

/****transition****/
body {
  transition: transform 1s;
}

.gap-menus {
  transform: scale(1.2);
  transform-origin: left right;
}

/****transition****/
.resto h3 {
  font-size: 40px;
  font-weight: normal;
  margin: 0 0 0 40px;
  padding-bottom: 20px;
  border-bottom: 4px #99E2D0 solid;
  font-family: Shrikhand, Shrikhand-Regular, "sans-serif";
  width: 10%;
  padding-top: 70px;
}

h4 {
  font-size: 37px;
  font-family: Shrikhand, Shrikhand-Regular, "sans-serif";
  margin: 0;
  padding: 20px 0 10px 30px;
  display: flex;
  justify-content: flex-start;
}

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.card button {
  margin: 25px;
  border-radius: 20px;
  box-shadow: 0 5px 10px #d4d5d6;
  border: none 2px white;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.card p {
  font-family: Roboto, Roboto-Bold, Roboto-Italic, Roboto-Light, Roboto-Medium, "sans-serif";
  font-size: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

em {
  font-weight: bold;
  display: flex;
  padding-top: 55px;
  padding-right: 30px;
  font-size: 25px;
  font-style: normal;
}

/****transition****/
/****transition****/
.fa-check-circle {
  /*display: none;*/
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 120px;
  color: white;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 20px 20px 0;
  font-size: 60px;
  position: absolute;
  transition: all 0.5s;
  display: flex;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.card button:hover {
  /*transform: ;*/
  display: flex;
}

/****transition****/
/****transition****/
/****Le bouton commander****/
.order-fr {
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.order-fr button {
  padding: 22px 68px 27px 68px;
  font-size: 30px;
  border-radius: 50px;
  background-color: rgba(215, 59, 232, 0.9);
  color: white;
  cursor: pointer;
  font-family: Roboto, Roboto-Bold, Roboto-Italic, Roboto-Light, Roboto-Medium, "sans-serif";
  font-weight: bold;
  border: rgba(215, 59, 232, 0.9) 2px none;
  box-shadow: 0 5px 10px #d4d5d6;
  opacity: 0.7;
}

.order-fr button:hover {
  background-color: rgba(215, 59, 232, 0.7);
}

/********
Le footer
********/
footer {
  background-color: #313339;
  color: white;
  width: 100%;
  min-height: 235px;
  /*Le nom du site*/
  /*La liste de la nav du footer*/
}
footer h1 {
  width: 30%;
  color: white;
  padding: 30px 0 10px 50px;
  font-family: Shrikhand, Shrikhand-Regular, "sans-serif";
  font-size: 35px;
}
footer .list-footer {
  list-style: none;
  line-height: 50px;
  margin: 0;
  padding: 0 0 60px 50px;
  font-size: 30px;
  font-family: Roboto, Roboto-Bold, Roboto-Italic, Roboto-Light, Roboto-Medium, "sans-serif";
}

.list-bold {
  font-weight: bold;
  /*icône des couverts*/
  /*icône des mains*/
}
.list-bold .fa-utensils {
  padding-right: 15px;
  font-size: 20px;
}
.list-bold .fa-hands-helping {
  padding-right: 9px;
  font-size: 20px;
}

.list-footer a {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=style.css.map */
