/******************Test loading 1******************/
/*.coaching-1 {
    /*height: 300px;*/
    /*background-color: #e17055;*/ /*keyframes sur le body pour le background*/
/*}*/

/*.charge-1 {
    border: 12px solid white;
    width: 100px;
    height: 100px;
    border-top: 12px solid red;
    border-bottom: 12px solid navy;
    border-radius: 50%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    animation: spin 1s linear infinite;*/
    /*animation-iteration-count: 3;*/
    /*-webkit-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
}   

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}*/


/*******************Test loading 2**********************/
/*.loader {
    margin: auto;
    position: relative; 
    top: 0;
    bottom:0;
    right: 0;
    left: 0;
  }
  
  .circle {
    border-radius: 50%;
    border: 15px solid #fff;
    width: 100px;
    height: 100px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
  }
  
  .circle:after {
    content:'';
    position: absolute;
    width: 100px;
    height: 100px;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 15px solid transparent;
    border-radius: 50%;
    border-top-color: #9356DC;
    opacity: 0.6;
    animation: spin 1s linear 0s infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: spin 1s linear 0s infinite;
  }
  
  .circle:before {
    content:'';
    position: absolute;
    width: 70px;
    height: 70px;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 8px solid transparent;
    border-radius: 50%;
    border-top-color: #ff9ff3;
    opacity: 0.6;
    animation: spin 1s linear 0s infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-animation: spin-reverse .9s linear 0s infinite;
  }
  
  @keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
  }
  
  
  @keyframes spin-reverse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
  }
  }
  
  body {
    background-color: #EEE1EA;
  }

.loading-spinner {
    animation: hide 5s linear;
    -webkit-animation: hide 5s linear;
    animation-fill-mode: forwards;
}
@keyframes hide {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    } 
}

.page {
    color: black;
    animation: visible 8s linear -.6s;
    -webkit-animation: visible 8s linear -.6s;
    opacity: 1;
    animation-fill-mode: forwards;
}
@keyframes visible {
    0% {
        opacity: 0;
        overflow: hidden;
    }
    50% {
        opacity: 0;
        overflow: hidden;
    }
    75% {
        opacity: 0;
        overflow: hidden;
    }
    90% {
        opacity: .8;
        overflow: visible;
    }
    100% {
        opacity: 1;
        overflow: visible;
    } 
}*/

/******************Test transition coeur*****************/

/*.fa-heart {
    cursor: pointer;
    margin: 200px 300px 300px 500px;*/ /*a supprimer sur vrai projet*/
/*}
  
.far.fa-heart {*/ /*coeur vide*/
    /*position: absolute;
    font-size: 80px;*/ /*$size-heart*/
/*}*/
  
/*coeur remplit*/
/*.fas.fa-heart {
    position: relative;
    color: white;
    right: 0;
    font-size: 66px;
    left:7px;
    top: 7px;
    bottom: 0;
    animation: heart-fill 350ms linear;
    -webkit-animation: heart-fill 350ms linear;
}
  

@keyframes heart-fill {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        color: #FF79DA;
        opacity: .4;
    }
    25% {
        transform: scale(25%);
        -webkit-transform: scale(25%);
        -moz-transform: scale(25%);
        -ms-transform: scale(25%);
        -o-transform: scale(25%);
        color: #FF79DA;
        opacity: .5;
    }
    35% {
        transform: scale(35%);
        -webkit-transform: scale(35%);
        -moz-transform: scale(35%);
        -ms-transform: scale(35%);
        -o-transform: scale(35%);
        color: #FF79DA;
        opacity: .6;
    }
    55% {
        transform: scale(55%);
        -webkit-transform: scale(55%);
        -moz-transform: scale(55%);
        -ms-transform: scale(55%);
        -o-transform: scale(55%);
        color: #FF79DA;
        opacity: .7;
    }
    70% {
        transform: scale(70%);
        -webkit-transform: scale(70%);
        -moz-transform: scale(70%);
        -ms-transform: scale(70%);
        -o-transform: scale(70%);
        color: #FF79DA;
        opacity: .8;
    }
        80% {
        transform: scale(80%);
        -webkit-transform: scale(80%);
        -moz-transform: scale(80%);
        -ms-transform: scale(80%);
        -o-transform: scale(80%);
        color: #FF79DA;
        opacity: .9;
    }
    90% {
        transform: scale(90%);
        -webkit-transform: scale(90%);
        -moz-transform: scale(90%);
        -ms-transform: scale(90%);
        -o-transform: scale(90%);
        color: #FF79DA;
        opacity: 1;
    }
    100% {
        transform: scale(100%);
        -webkit-transform: scale(100%);
        -moz-transform: scale(100%);
        -ms-transform: scale(100%);
        -o-transform: scale(100%);
        color: #FF79DA;
        opacity: 1;
    }
}*/

/**********Test transition apparition plat différée**********/

body {
    margin: 0;
}

button {
    margin: 8px;
    width: 100%;
}

.entrees button {
    color: white;
    border: #fdcb6e 2px none;
    background-color: #fdcb6e;
    padding: 30px;
    border-radius: 25px;
}

.plats button {
    color: white;
    border: #fab1a0 2px none;
    background-color: #fab1a0;
    padding: 30px;
    border-radius: 25px;
}

.desserts button {
    color: white;
    border: #00a8ff 2px none;
    background-color: #00a8ff;
    padding: 30px;
    border-radius: 25px;
}

.entrees {
    animation: appetizer 5s linear;
    animation-fill-mode: forwards;
}
@keyframes appetizer {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
    }
}

/*.plats {

}

.desserts {

}*/